<h1>Directory of Student Pages</h1>

<ul>

  <li><%= link_to 'beausorin', beausorin_path %></li>

  <li><%= link_to 'mrkobo', mrkobo_path %></li>

  <li><%= link_to 'jordan', jordan_path %></li>

</ul>
